<div class="col-8 p-0">
  <%= simple_form_for [ @listing, @rental ] do |f| %>
    <%= f.input :from %>
    <%= f.input :until %>
    <%= f.hidden_field :status, value: "pending" %>
    <%= f.submit "Send my request", class: "btn btn-primary rounded-pill my-3" %>
  <% end %>
</div>
