<%= link_to listing_path(listing) do %>
  <div class="card-listing mx-1 my-2">
    <% if listing.image.attached? %>
      <%= cl_image_tag listing.image.key%>
    <% else %>
      <%= image_tag listing.photo%>
    <% end %>
    <div class="card-listing-infos">
      <div class="d-flex justify-content-between card-product-content">
        <div class="pr-5 flex-grow">
          <h2><%= listing.name %></h2>
        </div>
        <h2 class="card-listing-pricing pt-3">
          <%= number_to_currency(listing.price) %><small>/day</small>
        </h2>
      </div>
      <%= image_tag listing.user.avatar, class: "card-listing-user avatar-bordered"%>
    </div>
  </div>
<% end %>
