<div class="container search-form-control form-group pt-3">
  <form method='get' action="/listings">
    <%= text_field_tag :query, params[:query], class: "form-control" , placeholder: "Find Gear!" %>
    <%= submit_tag "Search" , class: "btn btn-flat mr-3 pt-4"%>
  </form>
</div>

<h1 class="margin-top">Gear for Rent</h1>
<div class="container">
  <div class="cards">
    <% @listings.each_with_index do |listing, index| %>
      <%= link_to listing_path(listing) do %>
        <div class="card-listing mx-1 my-2">
        <% if listing.image.attached? %>
          <%= cl_image_tag listing.image.key%>
        <% else %>
          <%= image_tag listing.photo%>
        <% end %>
          <div class="card-listing-infos">
            <div class="d-flex justify-content-between card-product-content">
              <div class="pr-5">
                <h2>
                  <%= listing.name %>
                </h2>
                <p>
                  <%= listing.description %>
                </p>
              </div>
              <h2 class="card-listing-pricing pt-3">
                <%= number_to_currency(listing.price) %> <br>/ day
              </h2>
            </div>
            <%= image_tag listing.user.avatar, class: "card-listing-user avatar-bordered"%>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>

</div>
