<h1>Listings:</h1>
<ul>
  <% @listings.each_with_index do |listing, index|  %>
    <div class="card-trip">
    <%= image_tag listing.photo %>
    <div class="card-trip-infos">
    <div>
    <h2><%= listing.name %></h2>
    <p><%= listing.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= listing.price %> / day.</h2>
    <img src="https://i.pravatar.cc/150?img=<%= index + 1 %>" class="card-trip-user avatar-bordered" />
    </div>
    </div>
  <% end %>
</ul>
