<div class="container mt-4">
  <h1> My Gear </h1>
    <div class="cards">
      <% @listings.each do |listing| %>
        <%= link_to listing_rentals_path(listing) do %>
          <div class="card-listing">
          <% if listing.image.attached? %>
            <%= cl_image_tag listing.image.key %>
          <% else %>
            <%= image_tag listing.photo%>
          <% end %>
            <div class="card-listing-infos d-flex flex-column justify-content-between align-items-end">
              <div class="card-product-content">
                <h2><%= number_to_currency(listing.price) %><small>/day</small></h2>
                <h2 class="mt-2"><%= listing.name %></h2>
                <p><%= listing.description %></p><br>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
