<div class = "container">
  <h1>New Gear for Rent Out</h1>

  <%= simple_form_for(@listing) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category, collection: ['Powered Speakers', 'CD and USB Players', 'DJ Controllers', 'Subwoofers', 'Studio Monitors', 'DJ Mixers', 'Turntables', 'Headphones'].sort %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
