<h1>New Listing Page</h1>

<%= form_for(@listing) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.number_field :price %>
  <%= f.check_box :available %>
  <%= f.text_field :category %>
  <%= f.submit :submit %>
<% end %>
