<h1>Listings Show Page</h1>

<h2><%= @listing.name %></h2>
<p><%= @listing.description %></p>
<p><%= @listing.available %></p>
<p><%= @listing.price %></p>
<p>Owner's name: <%= @listing.user.name %></p>
<p><%= @listing.category %></p>
