<div class="container">
  <h1><%=@listing.name%></h1>
  <div class="d-flex">
    <div>
      <% if @listing.available %>
        <h3>
          <style class="badge p-3 my-2 badge-success">
            Available!
          </style>
        </h3>
        <% else %>
          <h3>
            <style class="badge p-3 my-2 badge-warning" width="200px">
              Not available.
            </style>
          </h3>
          <% end %>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <img src=<%=@listing.photo%> width="400px">
    <div class="ml-3">
      <div>
        <p>
          <%= @listing.description %>
        </p>
      </div>
      <p>Price: <%= number_to_currency(@listing.price) %> / day
      </p>
      <p>Owner: <%= @listing.user.username %>
      </p>
      <p>Category: <%= @listing.category %>
      </p>
      <p>Pick-Up Address: <%= @listing.user.address %>
      </p>
    </div>
  </div>

  <h3 class="mt-5">I need this equipement...</h3>
  <div class="col-8">
    <%= simple_form_for [ @listing, @rental ] do |f| %>
      <%= f.input :from %>
        <%= f.input :until %>
          <%= f.hidden_field :status, value: "pending" %>
            <%= f.submit "Send my request" %>
              <% end %>
  </div>
  </div>
</div>
