<h1>Listings Show Page</h1>

<h2><%= @listing.name %></h2>
<p><%= @listing.description %></p>
<p>Availability: <%= @listing.available %></p>
<p>Price: <%= @listing.price %></p>
<p>Owner's name: <%= @listing.user.username %></p>
<p>Category: <%= @listing.category %></p>
