<h1>Listings Show Page</h1>

<h2><%= @listing.name %></h2>
<p><%= @listing.description %></p>
<p>Availability: <%= @listing.available %></p>
<p>Price: <%= @listing.price %></p>
<p>Owner's name: <%= @listing.user.username %></p>
<p>Category: <%= @listing.category %></p>

<h3 class="text-center">Rent this out!</h3>
<div class="row justify-content-center">
  <div class="col-8">
    <%= simple_form_for [ @listing, @rental ] do |f| %>
      <%= f.input :from %>
      <%= f.input :until %>
      <%= f.hidden_field :status, value: "pending" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
