<h1>My rentals</h1>
<div class="container">
  <% @rentals.each do |rental| %>
    <div class="card-product my-3">
      <%= image_tag rental.listing.photo %>
      <div class="card-product-infos">
        <h2><%= rental.listing.name %></h2>
        <p>Status: <%= rental.status %></p>
        <p>From: <%= rental.from %>, Until: <%= rental.until %></p>
        <p>Owner: <%= rental.user.username %></p>
      </div>
    </div>
  <% end %>
</div>
