<div class="container mt-4">
  <h1>My Rentals</h1>
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-12 col-xl-6">
        <div class="card-product card-rentals">
          <%= link_to listing_path(rental.listing) do %>
            <% if rental.listing.image.attached? %>
              <%= cl_image_tag rental.listing.image.key%>
            <% else %>
              <%= image_tag rental.listing.photo %>
            <% end %>
          <% end %>
          <div class="status-tag">
            <% if rental.status.downcase == "approved" %>
              <span class="badge badge-success p-2"><%= rental.status.upcase %></span>
            <% elsif rental.status.downcase == "pending" %>
              <span class="badge badge-warning p-2"><%= rental.status.upcase %></span>
            <% elsif rental.status.downcase == "denied" %>
              <span class="badge badge-danger p-2"><%= rental.status.upcase %></span>
            <% else  %>
              <span class="badge badge-light p-2"><%= rental.status.upcase %></span>
            <% end %>
          </div>
          <div class="owner">
            <p>Owned by: <%= rental.listing.user.username %></p>
          </div>
          <div class="card-product-infos">
            <h2><%= rental.listing.name %></h2>
            <p><%= rental.listing.category %></p>
            <div>
            <div>
              <p>From: <%= rental.from %> / Until: <%= rental.until %></p>
            </div>
            <% if rental.status.downcase == "approved" %>
              <div class="mt-1">Pick up: <%= rental.listing.user.address  %></div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
