<div class="container mt-4">
  <h1>My Rentals</h1>
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-12 col-xl-6">
        <div class="card-product my-3 ">
          <%= link_to listing_path(rental.listing) do %>
          <% if rental.listing.image.attached? %>
            <%= cl_image_tag rental.listing.image.key%>
          <% else %>
            <%= image_tag rental.listing.photo %>
          <% end %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= rental.listing.name %></h2>
            <% if rental.status.downcase == "approved" %>
              <span class="badge badge-success"><%= rental.status.upcase %></span>
            <% elsif rental.status.downcase == "pending" %>
              <span class="badge badge-warning"><%= rental.status.upcase %></span>
            <% elsif rental.status.downcase == "denied" %>
              <span class="badge badge-danger"><%= rental.status.upcase %></span>
            <% else  %>
              <span class="badge badge-light"><%= rental.status.upcase %></span>
            <% end %>
            <p>Category: <%= rental.listing.category %></p>
            <div class="d-flex justify-content-between align-items-end">
            <div>
              <p>From: <%= rental.from %><br>Until: <%= rental.until %></p>
            </div>
              <p>Owned by: <%= rental.listing.user.username %></p>
            </div>
            <% if rental.status.downcase == "approved" %>
              <div class="mt-1">Pick up at: <%= rental.listing.user.address  %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
