<div class="container pt-4">
  <h1>Resquests for <%= @listing.name %></h1>
  <%# <h2>Requests</h2> %>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-6">
        <div class="card my-3 p-3">
          <h3>Rental requested by <%= rental.user.username %></h3>
          <p>From <%= rental.from %></p>
          <p>Until <%= rental.until %></p>
          <p>Listing <%= rental.listing.id %></p>
          <p>User <%= rental.listing.user_id %></p>
          <div class="form-group">
            <%= simple_form_for [@listing, rental] do |f| %>
              <div class="my-2">
                <%= f.input :status, as: :select, collection: Rental::STATUS, include_blank: false %>
                <%= f.hidden_field :rental_id, value: rental.id %>
              </div>
              <%= f.submit%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back to My Gear', my_listings_path(current_user), class: "btn btn-secondary rounded-pill", id:"button" %>
</div>
